################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Klooz3/DesignTimeBuild/.dtbcache.v2
/.vs/Klooz3/FileContentIndex/ac6fae6c-ceaf-41a2-a4ae-233aeae3dff9.vsidx
